MVCLARRAINWEB/src/conf/xml-resources/web-service-references/consultarEstado_WS/wsdl/localhost_7001/consultarEstado_WS/consultarEstado_WS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://webserviceUso_.webLarrain.como/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webserviceUso_.webLarrain.como/"><xsd:complexType name="consultarEstadoCompra"><xsd:sequence><xsd:element name="id" type="xsd:decimal" minOccurs="0"/><xsd:element name="cli" type="xsd:decimal" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="consultarEstadoCompraResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="consultarEstadoCompra" type="ns0:consultarEstadoCompra"/><xsd:element name="consultarEstadoCompraResponse" type="ns0:consultarEstadoCompraResponse"/></xsd:schema>